In [12]:
# #import dependencies
import hvplot.pandas
import pandas as pd

# #Turn off warning messages
import warnings
warnings.filterwarnings("ignore")

csv_path = "Q1_resources/Q1_Motor_Vehicle_Collisions_-_Crashes.csv"

In [13]:
#create a data frame with the csv file
df = pd.read_csv(csv_path)
df.head()

   CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0  09/11/2021       2:39  ...                 NaN                 NaN
1  03/26/2022      11:45  ...                 NaN                 NaN
2  06/29/2022       6:55  ...                 NaN                 NaN
3  09/11/2021       9:35  ...                 NaN                 NaN
4  12/14/2021       8:13  ...                 NaN                 NaN

[5 rows x 29 columns]